@using Dignite.Abp.NotificationCenter.Localization
@using Microsoft.Extensions.Localization
@model System.Collections.Generic.List<Dignite.Abp.NotificationCenter.NotificationSubscriptionDto>
@inject IStringLocalizer<NotificationCenterResource> L
<table class="table dignite-subscriptions-table">
    <thead>
        <tr>
            <th>@L["NotificationType"]</th>
            <th>@L["Description"]</th>
            <th>@L["Subscribed"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subscription in Model)
        {
            <tr>
                <td>@(subscription.DisplayName ?? subscription.NotificationName)</td>
                <td>@subscription.Description</td>
                <td>
                    <input type="checkbox"
                           class="dignite-subscription-toggle form-check-input"
                           data-notification-name="@subscription.NotificationName"
                           checked="@subscription.IsSubscribed" />
                </td>
            </tr>
        }
    </tbody>
</table>
